@font-face {
  font-family: "Abel";
  src: url("./assets/fonts/Abel-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Abel";
  color: white;
}

html {
  height: 100vh;
  background-color: rgb(40, 40, 40);
}

h1 {
  font: normal normal bold 50px/40px "Abel";
  margin: 20px;
  letter-spacing: 2px;
}

h2 {
  font: normal normal bold 30px/30px "Abel";
  margin: 0 20px 20px 20px;
  letter-spacing: 2px;
}

nav {
  height: 5vh;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

header {
  width: 100%;
  min-height: 180px;
  background-image: url("./assets/images/remote-exam.jpg");
  background-size: cover;
  z-index: 0;
}

#victvs-logo {
  opacity: 0.4;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 180px;
  max-width: 320px;
  left: 50%;
  transform: translateX(-50%);
}

.exam-list {
  padding: 20px;
}

.filter {
  margin: 20px;
}

label {
  margin: 10px;
}

select,
input {
  margin: 10px;
  color: black;
}

.exam-card {
  margin: 20px;
  padding: 15px;
  list-style: none;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: rgb(79, 90, 94);
}

@media (min-width: 550px) {
  #victvs-logo {
    left: 0;
    transform: none;
  }
}

@media (max-width: 320px) {
  #victvs-logo {
    width: 100vw;
  }
}
