@font-face {
  font-family: "Abel";
  src: url("./assets/fonts/Abel-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Abel";
  color: rgb(239, 239, 239);
}

html {
  min-height: 100vh;
  background-color: rgb(40, 40, 40);
}

h1 {
  font: normal normal bold 50px/40px "Abel";
  margin: 20px;
  letter-spacing: 2px;
}

h2 {
  font: bold normal bold 30px/30px "Abel";
  margin: 0 20px 20px 20px;
  letter-spacing: 2px;
}

b {
  color: rgb(181, 235, 246);
  text-transform: uppercase;
}

nav {
  height: 7vh;
  background-color: rgb(3, 3, 3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header {
  width: 100%;
  min-height: 180px;
  background-image: url("./assets/images/remote-exam.jpg");
  background-size: cover;
  z-index: 0;
}

#victvs-logo {
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 180px;
  max-width: 320px;
  left: 0;
  transform: none;
}

#loading-icon {
  z-index: 999;
  width: 30vw;
  margin: 100px auto 100px auto;
}

.exam-list {
  min-height: 100vh;
  padding: 20px;
  background-image: url("./assets/images/remote-exam-3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter {
  margin: 20px;
}

label {
  margin: 10px;
}

select,
input {
  margin: 10px;
  color: rgb(3, 3, 3);
}

.exam-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  padding: 15px;
  list-style: none;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: rgb(56, 61, 63);
  opacity: 0.9;
}

button {
  background-color: rgb(239, 239, 239);
  color: rgb(3, 3, 3);
  margin: 20px;
  padding: 10px 20px;
}

.exam-details {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.map-container {
  margin: 20px auto;
  width: 80%;
  height: 90%;
}

.city-img {
  display: none;
}

#to-top-button {
  background-color: rgba(1, 1, 1, 0);
  width: 55px;
  height: 55px;
  border: 1px solid grey;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#to-top-button img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

@media (max-width: 320px) {
  #victvs-logo {
    width: 100vw;
  }
  .map {
    height: 100px;
  }
}

@media (min-width: 600px) {
  #loading-icon {
    z-index: 999;
    width: 10vw;
    margin: 150px auto 150px auto;
  }
  .exam-card {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .exam-details {
    width: 50%;
  }
  .city-img {
    display: block;
    margin: 20px auto;
    height: 180px;
    max-width: 40vw;
  }
  .map-container {
    width: 40vw;
  }
}

@media (min-width: 900px) {
  b {
    display: block;
  }
  .exam-card {
    flex-direction: column;
  }
  .exam-details {
    width: 98%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .map-container {
    margin: 20px auto;
    width: 60%;
    height: 90%;
  }
  .city-img {
    display: none;
  }
}
